
<div>
    <h2>OneAI Natural Language Processing </h2>

    <ul>
      <h3>A few popular NLP features.</h3>
      <li><a routerLink="/summarize">Summarize Text</a></li>
      <li><a routerLink="/headline">Share a Headline for the Text </a></li>
      <li><a routerLink="/topics">Share Topics in the Text </a></li>
      <li><a routerLink="/highlights">Highlights (Still working on it!)</a></li>

      <!-- Add more options as needed -->
      <!-- <li><a routerLink="/translation">Language Translation</a></li>
      <li><a routerLink="/subheading">Sub-heading</a></li>
      <li><a routerLink="/keywords">Keywords</a></li>
      <li><a routerLink="/names">Names</a></li>
      <li><a routerLink="/numbers">Numbers</a></li> -->
      
      <li><a routerLink="/emotions">Analyze Emotions in the Text </a></li>
      <li><a routerLink="/sentiments">Analyze Sentiments in the Text </a></li>
    </ul>
    <!-- <router-outlet></router-outlet> -->

    <h3>Caution: Input Text/Paragraphs should be around 1000 words to not exhaust the API quote in a day. (Just a warning!)</h3>
</div>
  

<router-outlet></router-outlet>
