<div>
    <!-- <h2>OneAI NLP features</h2> -->
    <p> Try one of the above. </p>
    <ul>
      <!-- <h3>A few popular NLP features.</h3>
      <li><a routerLink="/summarize">Summarize</a></li>
      <li><a routerLink="/headline">Headline</a></li>
      <li><a routerLink="/topics">Topics</a></li>
      <li><a routerLink="/highlights">Highlights (Still working on it!)</a></li> -->

      <!-- Add more options as needed -->
      <!-- <li><a routerLink="/translation">Language Translation</a></li>
      <li><a routerLink="/subheading">Sub-heading</a></li>
      <li><a routerLink="/keywords">Keywords</a></li>
      <li><a routerLink="/names">Names</a></li>
      <li><a routerLink="/numbers">Numbers</a></li> -->
    </ul>
    <!-- <router-outlet></router-outlet> -->
</div>
  